Repository RoadTripMoustache/kana_to_kanji, pull requests merged in 2024-01, with the labels that each got.

#108 feat: Search a kanji, kana, vocabulary in the glossary #98
  lib/src/core/repositories/kana_repository.dart
  lib/src/core/repositories/kanji_repository.dart
  lib/src/core/repositories/vocabulary_repository.dart
  lib/src/glossary/glossary_view.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/glossary/widgets/search_bar.dart
  localization/en.arb
  localization/fr.arb
  pubspec.yaml
  test/src/glossary/widgets/search_bar_test.dart
Labels: version: Minor

#114 #100 Implement tile to display the kanji and vocabulary in the glossary
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/src/core/constants/jlpt_levels.dart
  lib/src/core/models/kanji.dart
  lib/src/core/models/vocabulary.dart
  lib/src/core/widgets/app_config.dart
  lib/src/core/widgets/furigana_text.dart
  lib/src/glossary/widgets/glossary_list_tile.dart
  lib/src/glossary/widgets/kanji_list.dart
  lib/src/glossary/widgets/kanji_list_tile.dart
  lib/src/glossary/widgets/vocabulary_list.dart
  lib/src/glossary/widgets/vocabulary_list_tile.dart
  localization/en.arb
  localization/fr.arb
  pubspec.lock
  pubspec.yaml
  test/helpers.dart
  test/src/core/widgets/furigana_text_test.dart
  test/src/feedback/feedback_view_model_test.dart
  test/src/glossary/widgets/glossary_list_tile_test.dart
  test/src/glossary/widgets/kanji_list_test.dart
  test/src/glossary/widgets/vocabulary_list_test.dart
Labels: enhancement, version: Minor, feature: glossary

#122 docs: Add issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: documentation

#115 Refactor repositories to remove unecessary Future
  lib/src/core/repositories/kana_repository.dart
  lib/src/core/repositories/kanji_repository.dart
  lib/src/core/repositories/vocabulary_repository.dart
  lib/src/core/services/kana_service.dart
  lib/src/core/services/kanji_service.dart
  lib/src/core/services/vocabulary_service.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/quiz/quiz_view_model.dart
  pubspec.lock
  pubspec.yaml
  test/src/core/repositories/kana_repository_test.dart
  test/src/core/repositories/kanji_repository_test.dart
  test/src/core/repositories/vocabulary_repository_test.dart
Labels: version: Patch

#117 #100 Implement kana list and list tile
  lib/src/glossary/glossary_view.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/glossary/widgets/kana_list.dart
  lib/src/glossary/widgets/kana_list_tile.dart
  localization/en.arb
  localization/fr.arb
  pubspec.yaml
  test/src/glossary/widgets/kana_list_test.dart
  test/src/glossary/widgets/kana_list_tile_test.dart
Labels: enhancement, version: Minor, feature: glossary

#109 feat: Filter by option #96
  lib/src/core/constants/jlpt_levels.dart
  lib/src/core/constants/knowledge_level.dart
  lib/src/core/repositories/kana_repository.dart
  lib/src/core/repositories/kanji_repository.dart
  lib/src/core/repositories/vocabulary_repository.dart
  lib/src/glossary/glossary_view.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/glossary/widgets/filter_by.dart
  lib/src/glossary/widgets/search_bar.dart
  localization/en.arb
  localization/fr.arb
  pubspec.lock
  pubspec.yaml
  test/src/glossary/widgets/filter_by_test.dart
  test/src/glossary/widgets/search_bar_test.dart
Labels: version: Minor, feature: glossary

#111 feat: Sort by #97
  lib/src/core/constants/sort_order.dart
  lib/src/core/dataloaders/kanji_dataloader.dart
  lib/src/core/dataloaders/vocabulary_dataloader.dart
  lib/src/core/models/kanji.dart
  lib/src/core/models/vocabulary.dart
  lib/src/core/repositories/kanji_repository.dart
  lib/src/core/repositories/vocabulary_repository.dart
  lib/src/core/utils/kana_utils.dart
  lib/src/glossary/glossary_view.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/glossary/widgets/search_bar.dart
  lib/src/glossary/widgets/sort_by.dart
  localization/en.arb
  localization/fr.arb
  pubspec.yaml
  test/src/core/repositories/kanji_repository_test.dart
  test/src/core/repositories/vocabulary_repository_test.dart
  test/src/core/widgets/furigana_text_test.dart
  test/src/glossary/widgets/glossary_list_tile_test.dart
  test/src/glossary/widgets/kanji_list_test.dart
  test/src/glossary/widgets/search_bar_test.dart
  test/src/glossary/widgets/sort_by_test.dart
  test/src/glossary/widgets/vocabulary_list_test.dart
Labels: version: Minor, feature: glossary

#126 fix: Tapping clear search doesn't clear it
  lib/src/glossary/widgets/search_bar.dart
  pubspec.yaml
  test/src/glossary/widgets/search_bar_test.dart
Labels: version: Minor

#127 feat: Kana, kanji and vocabulary details skeleton
  l10n.yaml
  lib/src/core/constants/app_theme.dart
  lib/src/core/models/kana.dart
  lib/src/core/models/kanji.dart
  lib/src/core/widgets/app_scaffold.dart
  lib/src/core/widgets/app_spacer.dart
  lib/src/glossary/details/details_view.dart
  lib/src/glossary/details/details_view_model.dart
  lib/src/glossary/details/widgets/details.dart
  lib/src/glossary/details/widgets/pronunciation_card.dart
  lib/src/glossary/details/widgets/section_title.dart
  lib/src/glossary/details/widgets/wrapped_list.dart
  lib/src/glossary/glossary_view.dart
  lib/src/glossary/glossary_view_model.dart
  lib/src/glossary/widgets/kana_list.dart
  lib/src/glossary/widgets/kanji_list.dart
  lib/src/glossary/widgets/vocabulary_list.dart
  localization/en.arb
  localization/fr.arb
  pubspec.lock
  pubspec.yaml
  test/src/core/repositories/kana_repository_test.dart
  test/src/glossary/details/details_view_test.dart
  test/src/glossary/details/widgets/details_test.dart
  test/src/glossary/details/widgets/pronunciation_card_test.dart
  test/src/glossary/details/widgets/section_title_test.dart
  test/src/glossary/widgets/kana_list_tile_test.dart
  test/src/quiz/conclusion/quiz_conclusion_view_model_test.dart
  test/src/quiz/conclusion/widgets/question_review_tile_test.dart
  test/src/quiz/conclusion/widgets/to_review_section_test.dart
Labels: version: Minor, feature: glossary
